:root {
    --primary-color: #3498db;
    --secondary-color: #2980b9;
    --background-color: #f4f4f9;
    --body-bg: #ffffff;
    --secondary-bg: #e9ecef;
    --body-color: #212529;
    --link-color: #573b85;
    --hover-color: #0dcaf0;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --border-color: #495057;
    --input-border-color: #495057;
    --text-color-light: #ffffff;
    --text-color-dark: #34495e;
    --text-color-muted: #7f8c8d;
    --button-bg-color: #3498db;
    --button-hover-bg-color: #2980b9;
    --button-active-bg-color: #2980b9;
    --gradient-primary: linear-gradient(135deg, #3498db, #2980b9);
    --gradient-secondary: linear-gradient(135deg, #f4f4f9, #e9ecef);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: var(--gradient-secondary);
    color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
    text-shadow: 2px 2px 8px var(--shadow-color);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 1.5rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main,
.formain,
.smain {
    box-shadow: 0 8px 24px var(--shadow-color);
    background-color: var(--body-bg);
    border-radius: 15px;
    padding: 2rem;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.4s ease-in-out;
    width: 100%;
    max-width: 400px;
    margin: auto;
    position: absolute;
    top: 2%;
    transform: translate(-50%, -50%) scale(0.95);
}

.main.visible,
.formain.visible,
.smain.visible {
    opacity: 1;
    transform: scale(1);
}

.main h1,
.formain h1,
.smain h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
    text-shadow: 2px 2px 8px var(--shadow-color);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 1.5rem;
}

.main img,
.formain img,
.smain img {
    display: block;
    margin: 0 auto 1.5rem auto;
    max-width: 100px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-floating .form-control {
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.form-floating .form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color);
}

.form-floating label {
    padding-left: 1rem;
    font-size: 0.85rem;
    color: var(--text-color-muted);
}

input::placeholder {
    animation: fadeInPlaceholder 1s ease-in-out;
    color: var(--text-color-muted);
    font-size: 1rem;
}

@keyframes fadeInPlaceholder {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: all 0.3s ease;
    margin-top: 2rem;
}

.btn:hover {
    background-color: var(--button-hover-bg-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px var(--shadow-color);
}

.footer {
    font-size: 0.875rem;
    color: var(--text-color-muted);
    text-align: center;
    margin-top: 2rem;
}