/* * Book style */
.book-shape {
    width: 150px;
    height: 200px;
    background-color: white;
}

.library-shape {
    background-color: white;
    height: 100px;
    width: 0px;
}

.available-check {
    width: 30px;
    height: 30px;
}

/* * User Style */
.user-name-circle {
    position: relative;
}
.user-name-circle::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
